# Ignorar entornos virtuales
venv/
env/
venv_example/

# Ignorar archivos de configuración del entorno
*.env

# Ignorar archivos de caché y compilación
__pycache__/
*.pyc

# Ignorar archivos de datos crudos de MNIST
data/MNIST/raw/
UsingCluster_NN/data/MNIST/raw

# Ignorar archivos y carpetas específicas del sistema operativo
.DS_Store
Thumbs.db

# Ignorar configuraciones específicas del IDE
.vscode/
.idea/

.csv

# Ignorar carpeta de datos
data/